body {
  display: flex;
  justify-content: center;
}

.app {
  border: solid gray 1px;
  border-radius: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 30px 15px;
  padding: 40px;
  width: 320px;
}

h1 {
  font-size: 1.75em;
  text-align: center;
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.unavailable-filter {
  display: none;
}

.selected-filter, .unselected-filter {
  background-color: rgb(207, 207, 207);
  border: solid 3px transparent;
  border-radius: 20px;
  margin: 3px;
  padding: 8px 12px;
}

.selected-filter {
  background-color: rgb(211, 195, 241);
  border: solid 3px darkslateblue;
  color: black;
}

.unselected-filter:hover {
  background-color: rgb(228, 228, 228);
}

.randomize-button {
  background-color: rgb(0, 118, 139);
  border: none;
  border-radius: 5px;
  color: white;
  margin: 20px;
  padding: 15px;
}

.randomize-button:hover {
  background-color: rgb(1, 163, 163);
}

.activity-suggestion {
  display: none;
  margin: 20px 0 0 0;
}

.activity-suggestion.clicked {
  display: block;
}

.activity-suggestion p, .activity-suggestion h3{
 margin: 0;
 text-align: center;
}