body {
  display: flex;
  justify-content: center;
}

.app {
  border: solid gray 1px;
  border-radius: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 30px 15px;
  padding: 40px;
  width: 320px;
}